<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/city/jquery.cityselect.js"></script>
  <script type="text/javascript">
    $(function(){
      $("#id_city").citySelect({
        prov:"广东",
        city:"深圳",
        dist:"南山区",
        nodata:"none"
      });

      $.ajax(
              {
                url:'/getJiaxiaos',
                type:'get',
                data:{},
                datatype:'json',
                success:function(data){
                  var len = data.length;
                  for (var i = 0 ; i < len; i++){
                    var obj = data[i];
                    $("#id_jiaxiao").append('<option value='+obj._id+'>'+obj.title+'</option>');
                  }

                }
              }
      );
    });
  </script>
</head>
<body>
<div class="box">

  <div class="box todos">
    <h2 class="box">驾校门店列表</h2>
    <ul>
      <% for (var i = 0, len = todos.length; i < len; i++) {
        var todo = todos[i];
        var status = todo.availabled ? 'class="finished"' : '';
      %>
        <li <%- status %>>
            <% if (todo.availabled) { %>
              <%= todo.title %>&nbsp;
              <a href="/store/<%- todo._id%>/available?status=no">禁用</a>,
            <% } else { %>
              <del><%= todo.title %></del>&nbsp;
              <a href="/store/<%- todo._id%>/available?status=yes">恢复</a>,
            <% } %>
          <a href="/store/<%- todo._id%>/edit">修改</a>,
          <a href="/store/<%- todo._id%>/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
        </li>
      <% } %>
    </ul>
  </div>

  <div class="box post">
    <h2>新增驾校门店</h2>
    <form action="/store/add" method="post" id="post_new">
      <p>名称:<input type="text" name="title" class="long_txt" /></p>
      <div>
        <label for="city">城市:</label>
        <div id="id_city">
          <select class="prov" name="province"></select>
          <select class="city" name="city" disabled="disabled"></select>
          <select class="dist" name="district" disabled="disabled"></select>
        </div>
      </div>
      <div>
        <label for="id_jiaxiao">所属驾校:</label>
        <select id="id_jiaxiao" name="jiaxiaoId"></select>
      </div>
      <p>地址：<input type="text" name="address" class="long_txt" /></p>
      <p>联系人：<input type="text" name="contact" class="long_txt" /></p>
      <p>手机：<input type="text" name="iphone" class="long_txt" /></p>
      <p>座机：<input type="text" name="telephone" class="long_txt" /></p>
      <p>管理员用户名：<input type="text" name="admin" class="long_txt" /></p>
      <p>管理员密码：<input type="password" name="adminPwd" class="long_txt" /></p>
      <p><input type="submit" class="submit" value="添加" /></p>
    </form>
  </div>
  <div class="font-color:red"><%=errmsg%></div>
</div>
</body>
</html>
