<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Hello IjiaChe</h1>
    <p>Welcome to register Ijiache.com</p>
    <form action="/user/register" method="post">
        <p>
            <span>用户名:</span>
            <br>
            <input id="username" name="username" value="wenguoqing" type="text">
        </p>
        <p>
            <span>密码:</span>
            <br>
            <input id="password" name="password" type="password" value="123456">
        </p>
        <p>
            <span>确认密码:</span>
            <br>
            <input id="passwordTwo" name="passwordTwo" type="password" value="123456">
        </p>
        <p><input type="submit" value="注册"></p>
    </form>
  </body>
</html>