<!DOCTYPE html>
<html>
  <head>
    <title>修改密码</title>
  </head>
  <body>
   <h1>修改密码</h1>
    <form action="/user/updatePwd" method="post">
        <label for="username">用户名：</label><input type="text" id="username" name="username"/><br><br>
        <label>原密码：</label><input type="text" name="pwd"/><br><br>
        <label>新密码：</label><input type="text" name="newPwd"/><br><br>
        <label>重复新密码：</label><input type="text" name="newPwdTwo"/><br><br>
        <input type="submit" value="提交"/>
    </form>

  </body>
</html>