<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户预约课程列表</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/utils.js"></script>
    <script>

        $(document).ready(function(){
            /*$("#id_pre").click(function(){
                var current = new Date($("#id_date").val());
                var pre = new Date(current.getTime()-24*60*60*1000).format("yyyy-MM-dd");
                var newUrl = setQueryString("orderDate",pre);
                refresh(newUrl);
            });
            $("#id_next").click(function(){
                var day = new Date($("#id_date").val());
                var next = new Date(day.getTime()+24*60*60*1000).format("yyyy-MM-dd");
                var newUrl = setQueryString("orderDate",next);
                refresh(newUrl);
            });*/
        });
    </script>
</head>
<body>
<div >
    <h2>用户预约课程列表</h2>
    <br>
    <table border="1">
        <tr>
            <td width="300px">课程名称</td>
            <td width="100px">日期</td>
            <td width="100px">开始时间</td>
            <td width="100px">结束时间</td>
            <td width="100px">报名人数</td>
            <td width="100px">确定人数</td>
            <td width="300px">操作</td>
        </tr>

        <%
        for (var i = 0, len = orders.length; i < len; i++)
        {
            var todo = orders[i];
        %>
        <tr>
            <td> <%= todo.title %>&nbsp;</td>
            <td> <%= todo.orderDate %>&nbsp;</td>
            <td> <%= todo.startTime %> &nbsp;</td>
            <td> <%= todo.endTime %> &nbsp;</td>
            <td> <%= todo.orderNum %> &nbsp;</td>
            <td> <%= todo.successNum %> &nbsp;</td>

            <td>
            <a href="/store_order/<%- todo._id%>/edit?title=<%= todo.title %>&startTime=<%= todo.startTime %>&endTime=<%= todo.endTime %>">编辑</a>
            </td>
        </tr>
        <% } %>
    </table>
</div>
<div class="font-color:red;"><%=errmsg%></div>
</body>
</html>